# Compiled Java
*.class

# Packaged JAR
*.jar

# jpackage output
*.exe
*.msi
*.deb
*.rpm
*.dmg
*.pkg

# jpackage working directory
out/

manifest.txt
.env

.DS_Store
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
Thumbs.db